<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="wrapper" style="height: 100vh;">
        <div class="sub-wrapper">
            <div class="inner">
                <form method="post" action="/login/submitData">
                    <h4 class="text-center">Login</h4>
                    <label>Email</label>
                    <input class="form-control" type="email" required="" title="please enter a valid email" name="email">
                    <span class="error" id="emailErr"></span><br>
                    <label>Password</label>
                    <input class="form-control" type="password" required="" title="password should contain atleast 6 character" pattern="^.{6,}$" name="password">
                    <span class="error" id="passwordErr"></span><br>
                    <button class="cust-btn mt-2">Submit</button>
                    <br>
                    {{#if error_msg}}
                    <span class="text-danger mt-4">{{error_msg}}</span>
                    {{/if}}
                </form>
                <span>Not a member ?<a href="/signup">SignUp</a></span>
            </div>
        </div>
    </div>
</body>
</html>